#footer {
  display: flex;
  flex-direction: row;
  background-color: lightsalmon;
  padding: 5%;
  text-align: left;
}

#customer-service,
#information,
#my-account,
#other,
#follow-us {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#follow-us {
  align-self: center;
}